<!--==========================
  Header
  ============================-->
<app-header></app-header>
<!-- #header -->
<!--==========================
    Intro Section
  ============================-->
<app-intro></app-intro>
<!-- #intro -->
<!--==========================
      About Us Section
    ============================-->
<app-about></app-about>
<!-- #about -->
<!--==========================
      All Users Section
    ============================-->
<app-view-all-user></app-view-all-user>
<!-- #services all users -->
<!--==========================
    Footer
  ============================-->
<app-contact></app-contact>
<!-- #footer -->
<router-outlet></router-outlet>
